html {
  font-family: var(--font-system);
  font-size: var(--body-medium);
  line-height: var(--line-height);

  color: var(--white);
  background-color: var(--very-very-dark);
}

/* We'll have lots of links and buttons here */
a {
  color: inherit;
  text-decoration: none;
}
